@import "reset.css";
@import "./fonts.css";

body{
  font-family: 'Roboto', sans-serif;
  background-color: #81b9bf;
  color: #fff;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 #000000;
}

/* Header */

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #005662;
}

.header__title {
  font-size: 40px;
}

.navigation {
  width: 50%;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.navigation__link {
  color: #fff;
}

.navigation__link:hover {
  color: #FFE8B8;
}

/* Section about-me */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 20px 90px;
  background-color: #FFE8B8;
  color: #005662;
}

.about-me__photo {
  max-width: 250px;
  height: 250px;
  border: 10px solid #005662;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.about-me__name {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
}

.about-me__profession {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.about-me__description {
  margin-top: 20px;
}
